<body class="aboutUsBody">
	<div class="aboutUsWrapper">
		<h2>About Us</h2>
		<div class="aboutUs">

			<p>
				Hi, we are João Prates & Michael Dixon. We are currently
				students at the Ironhack Lisbon Bootcamp. For our second project
				we decided to create HELPR as a way to challenge ourselves using
				APIs and CRUD. 
<p></p>
         <div class="aboutHelpr"> HELPR intends to be a general help application allowing users to help each other in any situation
            they need help with. We simplify this by allowing people to obtain the location of other users through
            help requests. 
         </div>
            <p></p>
            <br>
            <div>
               <a href="https://www.linkedin.com/in/jo%C3%A3o-prates-7279a521b/"><img src="/images/LI-In-Bug.png" alt="" width="35px" height="30px"/></a>
               <a href="https://www.linkedin.com/in/jo%C3%A3o-prates-7279a521b/">João Prates</a>
<p></p>
               <a href="https://www.linkedin.com/in/michael-dixon-805a35214/"><img src="/images/LI-In-Bug.png" alt="" width="35px" height="30px"/></a>
               <a href="https://www.linkedin.com/in/michael-dixon-805a35214/">Michael Dixon</a>
            </div>
         
		</div>
	</div>
</body>