<div id="floating-panel">
    <div>
        <div>
            <input type="text" id="from" , placeholder="Origin" />
        </div>
    </div>
    <div>
        <div>
            <input type="text" id="to" , placeholder="Destination" />
        </div>
    </div>
</div>
<b>Mode of Travel</b>
<select id="mode">
    <option value="0">Select a transport</option>
    <option value="DRIVING">Driving</option>
    <option value="WALKING">Walking</option>
    <option value="BICYCLING">Bicycling</option>
    <option value="TRANSIT">Transit</option>
</select>

<div id="map"></div>