{{! <div id="floating-panel">
	<div>
		<div>
			<input type="text" id="from" , placeholder="Origin" />
		</div>
	</div>
	<div>
		<div>
			<input type="text" id="to" , placeholder="Destination" />
		</div>
	</div>
</div> }}

{{! Help Request Button }}
<div id="form-container">
	<a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Make a Request</a>
	 <div class="collapse multi-collapse" id="multiCollapseExample1">
      <div class="card card-body">
        <form>
		<label class="formStyle">Title</label>
		<input type="text" id="requestTitle" name="title" placeholder="Enter a title"/>

		<label class="formStyle">Description</label>
		<input type="text" id="requestDescription" name="description" placeholder="Describe your problem"/>

		<button onclick="send()" class="btn btn-dark">Send</button>
	</form>
      </div>
    </div>
</div>



<b>Mode of Travel</b>
<select id="mode">
	<option value="0">Select a transport</option>
	<option value="DRIVING">Driving</option>
	<option value="WALKING">Walking</option>
	<option value="BICYCLING">Bicycling</option>
	<option value="TRANSIT">Transit</option>
</select>



<div id="floating-panel" class="help-wrapper">
	<div>
		<div id="map"></div>
		<div id="coords">
			<input type="text" id="from" , placeholder="Origin" />
			<input type="text" id="to" , placeholder="Destination" />
	</div>
</div> 