<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Please Work dear god</title>
		<script
			src="https://polyfill.io/v3/polyfill.js?features=es5,es6,es7&flags=gated"
		></script>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<script src="/js/main.js" defer></script>

	</head>
	<body>
		<nav>
			<ul>
				<li>
					<a href="/signup">Signup</a>
				</li>
				<li>
					<a href="/login">Login</a>
				</li>
			</ul>
		</nav>
		{{{body}}}
		<script
			src="https://maps.googleapis.com/maps/api/js?key={{gmapsKey}}&callback=initMap&libraries=&v=weekly"
			async
		></script>
	</body>

</html>